{
    "caddy": {
        "url": "",
        "caddyfile": ""
    },
    "params": {
        "ARCH": ""
    },
    "service_commands": [
        {
            "name": "",
            "command": "",
            "build_commands": [
                ""
            ],
            "ports": [],
            "env": {}
        },
        ...
    ],
    "base_image": {
        "name": "",
        "commands": [
            ""
        ]
    }
}